@* Views/Shared/_Layout.cshtml *@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - logirack</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/css/navBar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Dashboard.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/adminDashboard.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/driverDashboard.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/homePage.css" asp-append-version="true" />
</head>
<body>

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/images/logo.png" alt="LogiTrack" width="30" height="30" class="d-inline-block align-text-top">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">

                    @if (User.IsInRole("SuperAdmin"))
                    {
                    <li class="nav-item">
                        <a class="nav-link text-dark">SuperAdmin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="SuperAdmin" asp-action="Dashboard">SuperAdmin Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="SuperAdmin" asp-action="AdminList">Admin List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="SuperAdmin" asp-action="CreateAdmin">Create Admin</a>
                    </li>
                    }
                    else if (User.IsInRole("Admin"))
                    {
                    <li class="nav-item admin-dashboard">
                        <a class="nav-link text-dark">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Admin" asp-action="Dashboard">Admin Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Admin" asp-action="DriverManagment">Driver Management</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Admin" asp-action="AddNewTripByAdmin">Add New Trip</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Admin" asp-action="TripLog">Trip Log</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Admin" asp-action="PendingApprovals">Pending Approval</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Admin" asp-action="TripRequests">Trips Request</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Admin" asp-action="CreateDriver">Create a Driver</a>
                    </li>
                    }
                    else if (User.IsInRole("Driver"))
                    {
                    <li class="nav-item driver-dashboard">
                        <a class="nav-link text-dark">Driver</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Driver" asp-action="Dashboard">Driver Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Driver" asp-action="TripLog">Trip Log</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Driver" asp-action="CurrentTrips">Current Trips</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Driver" asp-action="PaymentTracking">Payment Tracking</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Driver" asp-action="DriverTripManagement">Driver Trip Management</a>
                    </li>
                    }
                    else if (User.IsInRole("Customer"))
                    {
                    <li class="nav-item ">
                        <a class="nav-link" asp-controller="Customer" asp-action="Dashboard">Customer Dashboard</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" asp-controller="Customer" asp-action="MyTrips">My trips</a>
                    </li>
                    }
                    else
                    {
                    <li class="nav-item">
                        <a id="LogiTrack" class="nav-link text-white" asp-controller="Home" asp-action="Index">LogiTrack</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Home" asp-action="Services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Home" asp-action="Contact">Contact</a>
                    </li>
                    }
                </ul>
                <partial name="_LoginPartial"/>
            </div>
        </div>
    </nav>
</header>

<div aria-live="polite" aria-atomic="true" class="position-relative">
    <div class="toast-container position-fixed top-0 end-0 p-3">
    </div>
</div>

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"
        integrity="sha512-XYZ..." crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<script src="~/js/signalR.js"></script>

<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
