@model logirack.Models.ViewModel.CreateAdminViewModel

@{
ViewBag.Title = "Create Admin";
Layout = "_Layout";
}

<h2>Create Admin</h2>

@if (TempData["Success"] != null)
{
<div class="alert alert-success">
    @TempData["Success"]
</div>
}

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<form asp-action="CreateAdmin" method="post">
    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AdminEmail"></label>
        <input asp-for="AdminEmail" class="form-control" />
        <span asp-validation-for="AdminEmail" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber"></label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
</div>
    <div class="form-group">
        <label asp-for="DateOfBirth"></label>
        <input asp-for="DateOfBirth" class="form-control" type="date" asp-format="{0:yyyy-mm-dd}" />
        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
        </div>
        
    <div class="form-group">
        <label asp-for="AdminPassword"></label>
        <input asp-for="AdminPassword" type="password" class="form-control" />
        <span asp-validation-for="AdminPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" type="password" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create Admin</button>
</form>

@section Scripts {
@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
