.navbar-nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Styling for Admin navbar */
.admin-dashboard a {
    font-style: italic;
    font-size: 2rem; 
    font-weight: bold;
    padding: 5px 15px;
    line-height: 1; 
    margin-right: 50px;
}

/* Styling for Driver navbar */
.driver-dashboard a {
    font-style: italic;
    font-size: 2rem; 
    font-weight: bold;
    padding: 5px 15px;
    line-height: 1; 
    margin-right: 50px;
}
    
